/* 2016.5.26 16050272 门店活动分析 */
$orange: #fd9601;
$borderColor: #E1E1E1;
@mixin norm($size:12px){
    color:#969696;
    font-size:$size;
}
.ovh{overflow:hidden;}
.clear{clear:both;}
.area-select{
	position:relative;
	.select-data{
		background-color:#FFF;
		border: $borderColor 1px solid;
		cursor: pointer;
		span{
			padding:0 5px;
		}		
	}
	i.triangle{
		float: right;
		margin: 8px 8px 0;
		border: 5px solid transparent;
		border-top-color: $orange;
	    transition: All .2s ease;
		-webkit-transition: All .2s ease;
	}
	.select-wrap{
		display: none;
		position:absolute;
		top: 22px;
		z-index: 10;
		padding-top: 22px;
		width: 456px;
		background-color: #FFF;
		border: solid 1px $orange;		
		.select-tabs{
			overflow: hidden;
			border-bottom: solid 1px $orange;
			li{
				float: left;
				width: 115px;
				margin-left: 12px;
				border: solid 1px $borderColor;
				border-bottom: none;
				text-align: center;
				a{display:inline-block;width:100%;}
				&.active{
					background-color:$orange;
					span{color: #FFF};
					border-color:$orange;
					.triangle{
						border-bottom-color: #FFF;
					}
				}
			}
		}
		.select-content{
			padding-bottom: 1em;
			height: 160px;
			ul{display:none;}
			li{
				display: inline-block;
				margin-top: 1em;
				width: 74px;
				line-height: 2;
				text-align: center;
				&.selected{
					background-color:$orange;
					a{color: #FFF};
				}
			}
		}
	}
	/*展开状态下的样式*/
	&.expand{
		.select-data .triangle,.active .triangle{
			margin-top: 2px;
			border-top-color:transparent;
			border-bottom-color: $orange;
		}
		.select-data{
			position: relative;
			z-index: 11;
			height: 23px;
			border-color: $orange;
			border-bottom: none;
		}
		.select-wrap{display:block;}
	} 
}
.outlet{
	background-color:#FFF;
	.first-title{overflow: visible;border-bottom: none;}
	.calendar-two{
		height: 22px;
		line-height: 20px;
		&:first-child{margin: 25px 0 10px;}
		.Wdate{
			margin-right: 20px;
			padding-right: 24px;
			height: 100%;
			border-color:$borderColor;
			.date-selector{
				min-width: 72px;
				width: 76px;
			}
			&.compare{margin-left:3px;}
		}
	}
	.tips{
		@include norm();
	}
	h3{
		font-size: 18px;
	}
	input.nobd{
		border:none;
		background-image: none;
	}
	.second-title{
		h2{
			padding: 30px;
			font-size: 20px;
			font-weight: normal;
		}
		.title-tabs{
			overflow: hidden;
			border-bottom: solid 2px $orange;
			li{
				float: left;
				margin-left: 30px;
				width: 45.5%;
				border: solid 2px $borderColor;
				border-bottom: none;
				text-align: center;
			}
		}
	}
}
